@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 41 56% 89%;
    --foreground: 20 14% 4%;
    --card: 41 56% 95%;
    --card-foreground: 20 14% 4%;
    --popover: 41 56% 95%;
    --popover-foreground: 20 14% 4%;
    --primary: 16 81% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41 20% 80%;
    --secondary-foreground: 20 14% 4%;
    --muted: 41 20% 85%;
    --muted-foreground: 20 10% 35%;
    --accent: 88 49% 37%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 41 20% 75%;
    --input: 41 20% 80%;
    --ring: 16 81% 61%;
    --chart-1: 16 81% 61%;
    --chart-2: 88 49% 37%;
    --chart-3: 41 56% 60%;
    --chart-4: 20 14% 40%;
    --chart-5: 16 30% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 8%;
    --foreground: 0 0% 98%;
    --card: 20 14% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 81% 70%;
    --primary-foreground: 20 14% 4%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 14% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 88 49% 45%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 16 81% 70%;
    --chart-1: 16 81% 70%;
    --chart-2: 88 49% 45%;
    --chart-3: 41 56% 70%;
    --chart-4: 20 14% 60%;
    --chart-5: 16 30% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
